.title1{
  color : rgb(251, 255, 4);
  margin-top: 25px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  padding: 10px;
  background-color: #153B49;
}

.container{
  background-color: #153B49;
  padding: 20px;
  margin: 20px;
  
}

.title2{
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

label {
  margin-top: 15px;
  color: white;
}


/* Estilos para los mensajes de error */
.error {
  color: #df3232;
  text-decoration: none;
  position: fixed;
  font-weight: normal;
  margin-left: 10px;
}

.input-valid{
  border: 3px solid #00ff2f !important;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 99%;
  display: none;
  height: auto;
  width: auto;
}

.input-invalid {
  border: 3px solid #ff0000 !important;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 99%;
  display: none;
  height: auto;
  width: auto;
}